@model Inveasy.Views.Admin.IndexModel
@{
}

<hr>
<h2>Admin</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project id #</th>
            <th scope="col">Project Name</th>
            <th scope="col">Project Creator</th>
            <th scope="col">Creator Role</th>
            <th scope="col">Project Category</th>
            <th scope="col">Backer Count</th>
            <th scope="col">Amount Collected</th>
            <th scope="col">Goal</th>
            <th scope="col">Date Posted</th>
            <th scope="col">Tier Count</th>
            <th scope="col">Updates Count</th>
            <th scope="col">Images</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td><a asp-controller="Project" asp-action="Index" class="btn btn-dark">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td><a asp-controller="Project" asp-action="Index" class="btn btn-dark">Edit</a></td>
        </tr>
    </tbody>
</table>