<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inveasy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link href="~/css/navigation.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/project.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/create.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inveasy.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-dark justify-content-between bg-dark sticky-top ">
        
        <!-- sidenav toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <span class="navbar-text">

        </span>
        <span class="navbar-text">

        </span>
            
            <!-- sidenav -->
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Inveasy</h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Popularity" asp-action="Index">Popular Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tags
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" id="side">
                            <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">Arts</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Commerce</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Crafts & DIY</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Design</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Education</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Fashion & Apparel</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Film & Video</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Food & Beverage</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Games</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Health & Fitness</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Music</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Publishing</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Social Causes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sports & Recreation</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Technology</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Username
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" id="side">
                            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="UserProjects" asp-action="Index">My projects</a></li>
                                <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="UserFunded" asp-action="Index">My Funded projects</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="CreateProject" asp-action="Index">Create Project</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">Log out</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    </ul>
                    
                </div>
            </div>

            <!-- logo -->
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                &ensp;
                <img src="~/images/logo_d2.png" class="d-inline-block  align-text-top" style="height:100px; width:160px; border:none;" alt="CoolBrand">
            </a>

        <span class="navbar-text">

        </span>
            
            <!-- search bar -->
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a asp-controller="Search" asp-action="Index" class="btn btn-outline-light" type="submit">Search</a>
            </form>
    </nav>

    <div class="container">
        <main role="main" class="pb-3"> 
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer-sticky text-muted">
        <div class="container">
            &copy; 2023 - Inveasy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
