@model Inveasy.Views.Home.projectModel
@{
    ViewData["Title"] = "Search Results | Inveasy";
}

<hr />
<h2 class="text-center">Projects for ""</h2>
<hr />

<div class="row">
    <div class="d-flex justify-content-start card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/default_pic.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-dark">See more...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/default_pic.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-dark">See more...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/default_pic.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-dark">See more...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/default_pic.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a asp-controller="Project" asp-action="Index" class="btn btn-dark">See more...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link link-secondary" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link link-secondary" href="#">1</a></li>
        <li class="page-item"><a class="page-link link-secondary" href="#">2</a></li>
        <li class="page-item"><a class="page-link link-secondary" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link link-secondary" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>