@model Inveasy.Views.Home.projectModel
@{
    ViewData["Title"] = "Register | Inveasy";
}

<br />
<section class="h-100 bg-dark">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/images/logo.png"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin: 95px 10px;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Registration form</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="myInput" placeholder="First Name" class="form-control form-control-lg" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="myInput" placeholder="Last Name" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline mb-4">
                                            <input type="text" id="myInput" placeholder="Username" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline mb-4">
                                            <input type="password" id="myInput" placeholder="Password" class="form-control form-control-lg" />
                                            <input type="checkbox" onclick="myFunction()">  Show Password
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-outline mb-4">
                                        <input type="email" id="myInput" placeholder="Email" class="form-control form-control-lg" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <h5 class="mb-0 me-4">Gender: </h5>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                                                   value="option1" />
                                            <label class="form-check-label " for="femaleGender">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                                                   value="option2" />
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                                                   value="option3" />
                                            <label class="form-check-label" for="otherGender">Other</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn btn-dark btn-lg ms-2">Register</button>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <h6>Already have an account? <a class="text-secondary" asp-controller="Login" asp-action="Index">Log in now</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>