@{
    ViewData["Title"] = "Login | Inveasy";
}

<br />
<section class="h-100 bg-dark">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-6 d-xl-block">
                            <img src="~/images/logo.png"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin: 95px 10px;" />
                        </div>
                        <form class="needs-validation col-6" novalidate asp-action="Login" method="post">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Welcome back!</h3>
                            <div class="row mb-4">
                                <div class="form-outline form-floating mb-4">
                                    <input type="text" id="floatingInput" name="username" class="form-control form-control-lg" placeholder="Username" required />
                                    <label for="floatingInput">Username</label>
                                </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="form-outline form-floating mb-4">
                                        <input type="password" id="floatingInput" placeholder="Password" class="form-control form-control-lg" required />
                                        <label for="floatingInput">Enter password</label>
                                        @* <input type="checkbox" onclick="PassShow()">  Show Password *@
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-dark btn-lg ms-2">Login</button>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <h6>Don't have an account? <a class="text-secondary" asp-controller="Signup" asp-action="Index">Sign Up now</a></h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<script>
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>