body {
}

.form-check, .nav-pills {
    font-size: 20px;
}

.form-check, .nav-pills button{
    margin: 10px 0px;
}

#creatorUpdate {
    margin: 10px 0px;
}

#flexCheckChecked {
    background-color: darkgray;
    border-color:darkgray;
}